# Insert your data and rename the file to .env
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASS=your_db_pass
DB_NAME=your_db_name
TEST_DB_NAME=test_db
SECRET_KEY=your_random_string
ALGORITHM=HS256
FRONTEND_URL=http://localhost:8000/

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

YDEX_CLIENT_ID=
YDEX_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=<идентификатор_статического_ключа>
AWS_SECRET_ACCESS_KEY=<секретный_ключ>
AWS_REGION_NAME=ru-central1
AWS_ENDPOINT_URL=https://storage.yandexcloud.net

REDIS_URL=