{% extends 'index.html' %}

{% block content %}
<tr>
    <td class="email-body" width="570" cellpadding="0" cellspacing="0">
        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
               role="presentation">
            <!-- Body content -->
            <tr>
                <td class="content-cell">
                    <img src="https://raw.githubusercontent.com/Raisin228/Social-Network-FastAPI/main/friendly/mail/templates/images/logo.png"
                         alt="Friendly-Logo" width="200">
                    <div class="f-fallback">
                        <br>
                        <h2>Welcome, new user!</h2>
                        <p>Thank you for registering in the app. We are very glad that you are with us.
                            To get the most out of Friendly, fill in your profile with your photo, name,
                            nickname...</p>

                        <p>For reference, here's your primary profile information:</p>
                        <table class="attributes" width="100%" cellpadding="0" cellspacing="0"
                               role="presentation">
                            <tr>
                                <td class="attributes_content">
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           role="presentation">
                                        <tr>
                                            <td class="attributes_item">
                                                <span class="f-fallback"><strong>Email: </strong> {{user_email}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="attributes_item">
                                                <span class="f-fallback"><strong>Nickname:</strong> {{user_nick}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <p>If you have any questions, feel free to <a href="mailto:{{support_email}}">email
                            our customer success team</a>. We also accept phone calls <a
                                href="tel:+79807411677">+7-980-741-16-77</a> during business hours.</p>
                        <p>In touch, the development team</p>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}